mixin company(companyInfo)

    tbody
        tr
            td
                input(type="checkbox")
            td #{companyInfo.name}
            td #{companyInfo.registerCode}
            td ▫ #{companyInfo.category}
            td
                div #{companyInfo.sales.toLocaleString( "ko-KR" )}
                if(companyInfo.pastSales.last_quarter !== 0)
                    if(companyInfo.sales > companyInfo.pastSales.last_quarter)
                        div.redBox + #{(companyInfo.sales/companyInfo.pastSales.last_quarter*50).toFixed(2)} %
                    else
                        div.blueBox - #{(companyInfo.sales/companyInfo.pastSales.last_quarter*50).toFixed(2)} %
            td
                a(href=`/data/${companyInfo.registerCode}`) ->