mixin company(companyInfo)

    tbody
        tr
            td
                input(type="checkbox")
            td #{companyInfo.name}
            td #{companyInfo.registerCode}
            td ▫ #{companyInfo.category}
            td
                a(href=`/data/${companyInfo.registerCode}`) ->
            td
                a(href=`/data/${companyInfo.attach.path}`)
                    i(class="bx bx-file")
