mixin company(companyInfo)
    tbody
        tr
            td
                input(type="checkbox")
            td #{companyInfo.name}
            td #{companyInfo.code}
            td.multiple_td
                each cate in companyInfo.category
                    span ▪ #{cate}
            td #{companyInfo.sales.toLocaleString("ko-KR")}
            td
                a(href=`/data/${companyInfo.code}`) ->