mixin company(companyInfo)

    tbody
        tr
            td
                input(type="checkbox")
            td #{companyInfo.name}
            td #{companyInfo.financeInfo.recodedDate.year}
            td #{companyInfo.financeInfo.recodedDate.quarter} Quarter
            td
                a(href=`/data/${companyInfo._id.toString()}`) ->
            td
                a(href=`/data/${companyInfo.attach.path}`)
                    i(class="bx bx-file")
