mixin companyDetailed(companyInfo)
    div.detailed_top
        div.detailed_name
            div.detailed_text_small #{companyInfo.registerCode}
            div.detailed_text #{companyInfo.name}
        div.detailed_cate
            div.detailed_text_small #{companyInfo.categoryCode}
            div.detailed_text #{companyInfo.category}
        div.detailed_sales
            div.detailed_text #{companyInfo.sales}

        div.detailed_private
            div.detailed_text #{companyInfo.isPrivate ? "개인" : "법인"}
        div.detailed_post
            div.detailed_text #{companyInfo.postcode}
        div.detailed_date
            div.detailed_text #{companyInfo.createdAt}
        div.detailed_files
            ul
                a(href=`${companyInfo.attach.path}`)
                    li.detailed_text #{companyInfo.attach.name}

        div.detailed_button_container
            a(href=`/data/${companyInfo.registerCode}/edit`)
                button.detailed_button Edit
            a(href=`/data/${companyInfo.registerCode}/delete`)
                button.detailed_button Delete